
@import "tailwindcss";

@theme {
  --color-background: #fff7ee;
  --color-foreground: #ffffff;
  --color-card-bg: #171717;
  --color-border-dark: #262626;
  --color-muted: #a3a3a3;
  --color-mainColor: #FFB563;
  --color-subColor: #F85E00;

  --color-canvas-bg: #f0f0f0;
  --color-canvas-border: #e5e5e5;

  --color-dark-bg: #0a0a0a;

  
  --font-dynapuff: var(--font-dynapuff), sans-serif;
  --font-dm-mono: var(--font-dm-mono), monospace;
}

/* Typography Defaults */
h1, h2, h3, h4, h5, h6, .font-dynapuff {
  font-family: var(--font-dynapuff);
}

body, p, span, div, a, button, input, textarea, .font-dm-mono {
  font-family: var(--font-dm-mono);
}


.bg-dot-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 32px 32px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #09090b;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

